*{

	margin:0px;
	padding:0px;

}

body{
	
}

html {
  scroll-behavior: smooth;
}

#img_item{
width: 250px;
height: 250px;
margin-left: 60px;

}

header{
height: 550px;	
background-size: cover;
background: url(img/cupcake1.jpg);
background-color: #FFA69E;
background-position: center;
background-blend-mode: darken;
}

footer{	
padding-top:15px;	
display: flex;
justify-content: space-around;
height: 180px;
margin-top: 250px;	
text-align: center;
width:100%;
background: #FFA69E;

overflow: hidden;
}

.ava{
width: 150px;
height: 150px;
filter: brightness(1.2);
border-radius: 50%;
background: url(img/day.jpg);
background-position: center;
background-size: cover;
color: black;
}

.ava a{
	color: black;
}


footer p{
line-height: 1.8;
font-size: 16px;
font-family: sans-serif;
border: 1ps solid black;
}


#mensaje{
color: white;
text-align: center;
margin-top: 50px;
font-size: 50px;
font-family: 'Kanit' , sans-serif ;
cursor: pointer;
font-weight: bolder;
}

:hover#mensaje{
	color: red;
	font-weight: bolder;
}


#texto_secundario{
	text-align: center;
	color: white;
	font-size: bolder;
	font-family:'Roboto Slab'; 
	font-size: 16px;
}

:hover#texto_secundario{
	color : red;
	font-weight: bolder;
}

.onda{
margin-top: 10px;
}


a{
	text-decoration: none;
}

li > a {
  font-size: 18px;
	color: white;
	list-style: none;
	font-family: 'Kanit'; 
}
.lista_menu{	
display: flex;
flex-direction: row;
margin-left: 950px;
}

.item{
  margin-top:8px; 
	list-style: none;
	margin-left: 20px;
}

#logo{
margin-top: -40px;
margin-left: 80px;
height: 150px;
cursor: pointer;
}


li > a:hover{
color:red;
font-weight: bolder;	
}
.contact{
margin-left: 80px;
height: 50px;
width: 160px;
font-size: 16px;
border-radius: 30px;
border: none;
cursor: pointer;
background: #FFA69E ;
}

.container_texto{
	
font-size: 25px;
height: 40px;
position: relative;	
text-align: center;
width: 450px;
}

/**************************************Aqui va la seccion de inicio***************************************/
.container_flex{
	/*border: 5px solid yellow;*/
	display: block;
	width: 80%;
}

.seccion_inicial{
	padding-top: 250px ;
	display: flex;
	margin: auto;
	width: 85%;
	/*border:  5px solid orange;*/
	height: 650px;
	border-bottom: 2px solid #FFA69E;

}
.parrafo_descripcion{
	/*border:  1px solid black;*/
	font-family:'Roboto Slab';
  color: #817E7E;	
  font-weight: bolder;
  line-height: 1.5;
  padding: 10px 5px;

}
.container_main_text{
  display: flex;
  flex-flow: row nowrap;
	/*border:  1px solid black;*/
}
.container_main_products{
	padding: 20px 5px;
	display: flex;
	
	flex-flow: row nowrap;
	justify-content: space-between;
	/*border: 1px solid red ;*/

}
.detalle_producto{
	/*border: 1px solid black;*/
	flex-basis: 30%;
	cursor: pointer;
	background: -webkit-linear-gradient(90deg,#FFA69E,white,transparent);
	
	transition: all ease 0.8s;
}
:hover.detalle_producto{
	padding:  10px 0;
	transform: scale(1.2);

}
.texto_titulo{
	padding: 10px 0;
	font-weight: bolder;
	text-align: center;
	font-size: 20px;
	color: hotpink;
	font-weight: bolder;
	cursor: pointer;
}
.parrafo_producto{
	text-align: center;
	padding: 10px 5px;
	color: #817E7E;	
	font-family:'Roboto Slab';
	font-weight: bolder;
	/*border: 1px solid black;*/
	line-height: 1.5;
}

h1{
	cursor: pointer;
	text-align: center;
	color: hotpink;
	font-family: 'Kanit' , sans-serif;
	padding: 20px 5px;
	font-size: 40px;
  /*border: 1px solid black;*/
  transition: transform 0.5s;

}
h1:hover{
	transform: scale(1.2);
}
.container_img_inicial{
	display: flex;
	flex-flow: row nowrap;
	justify-items: flex-end;
  
	width: 50%;
	height: 500px;
  /*border: 1px solid green;*/
  cursor: pointer;	
}

.img_incio{
	margin-left: 40px;
  
}


/************************************ Seccion sabores disponibles*****************************************/

.sabores_disponibles{
padding: 150px 0px;	
display: flex;
flex-flow: row nowrap;
justify-content: space-between;	
margin: auto;	
width: 80%;
}
.sabor{
	border-radius: 12px;
  display: flex;
	/*border: 1px solid hotpink;*/
	width: 280px;
	height: 500px;
	cursor: pointer;
	transition: padding 0.5s, transform 0.5s; 
}

:hover.sabor{

	padding: 30px 0;
	transform: scale(1.1);
}

.top_sabor{
position: relative;	

width: 280px;
height: 40%;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 45%);
background-color: #FFA69E;	
}

.sabor ul {
position: absolute;
margin-top: 180px;
margin-left: 40px;	
}


.sabor ul li{
padding: 5px 5px;	
position: relative;
list-style: none;
font-size: 16px;
	
}

.top_sabor p{
color: white;
font-family: 'Kanit' , sans-serif;
font-size: 25px;
padding: 40px 100px;
}
#especial{
color: white;
font-family: 'Kanit' , sans-serif;
font-size: 20px;
padding: 40px 70px;	
}
.boton_saborex{
	padding: 5px 5px;
  background-color: #FFA69E;
	position: absolute;
	border-radius: 32px;
	width: 200px;
	font-size: 20px ;
	font-family: 'Kanit' , sans-serif;
	color: white;
	margin-left: 50px;
	margin-top: 380px;
	border: none;
	cursor: pointer;
	}
	#title_sobores_disponibles{
		text-align: center;
		color: #817E7E;
		font-family:'Kanit' , sans-serif; 
		font-size: 25px;
		padding-top: 80px;
		text-decoration: underline hotpink;
	}
/******************************A partir de aqui  la seccion de personalizar***********************/
.personalizar{
;	
background: url(img/play.png);
background-color: #FFFFFF;	
background-repeat: no-repeat;
background-position: top;
background-size: cover;	
background-blend-mode: lighten;
/*border: 1px solid black;*/		
width: 80%;	
display: flex; 
margin: auto;;
border-bottom: 2px solid hotpink;
}

.container_ladoa{
	display: flex;
	flex-direction: column;
	/*border: 5px solid red;*/
	width: 50%;
}
.container_main_message{
	/*border: 1px solid black;*/
	padding: 250px 10px 10px 10px;

}

.container_descripcion{
	padding: 30px 5px;
	/*border: 1px solid black;*/
}
#stylo_message{
/*border: 1px solid black;*/	
text-align: center;
font-family: 'Kanit' , sans-serif;
color: hotpink;
font-size: 40px;
/*background-color: rgba(255, 166, 158, 0.8);*/
}
#texto_deco{
	line-height: 1.5;
	/*border: 1px solid black;*/
	font-family:'Roboto Slab';
  color: #817E7E;	
  font-size: 16px;
  font-weight: bolder;
 /* background-color: rgba(255, 166, 158, 0.8);*/
}
#boton_personalizar{
	width: 200px;
	padding: 10px 10px ;
	background: #FFA69E;
	font-family: 'Kanit' , sans-serif;
	border-radius: 32px;
	margin-left: 190px;
	font-size: 20px;
	cursor: pointer;
}
.container_ladob{
padding: 20px 5px;	
width: 50%;	

/*border:  2px solid blue;*/
}
.container_photo1{
margin-left: 20%;
transform: rotate(50deg);
}
.container_photo2{
margin-left: 60%;
transform: rotate(20deg);
}
.container_photo3{
margin-left: 10%;
transform: skewY(10deg);
}
.container_photo1,.container_photo2,.container_photo3{
padding-bottom: 30px;
width: 250px;
height: 220px;
border:  5px solid white;
background-color: #F1EDED;
}

/**********Contenido del container donde esta el bg****************/
.container_content_photo1{
width: 250px;
height: 220px;
background: skyblue;
}
.container_content_photo2{
width: 250px;
height: 220px;
background: #F7F891;
}
.container_content_photo3{
width: 250px;
height: 220px;
background: #FC688E;
}
/**********************************************************Hasta Aqui*******************************/
.boton_torta{

	width: 190px;
	height: 45px;
	background: #FFA69E;
	font-size: 16px;
	cursor: pointer;
	border-radius: 30px;
  border: none;
	margin-top: 20px;

}


.container_info_general,.social_media,.container_navegacion_rapida{
 width: 330px;
 }

.container_info_general,.social_media{
	padding: 10px;
	
}

.container_info_general p:hover{
color :white;

}
.container_info_general p{
line-height: 1.8;
font-size: 16px;
font-family: sans-serif;

}
.container_navegacion_rapida p{
line-height: 1.8;
font-size: 16px;
font-family: sans-serif;
color: black;
text-decoration: underline;

}
.container_navegacion_rapida p:hover{
color :white;

}

#pep{
font-size: 30px;
font-family: sans-serif;
color: black;

}
.social_media{
 display: flex;
 justify-content: space-around;
 margin-left: 40px;	
font-size: 30px;
height: 30px;
/*padding: 10px;*/	
width:250px;

}

.fa-tiktok,.fa-facebook-f,.fa-linkedin-in,.fa-instagram{
color: white;
}


:hover.fab{
	color: red;
}

.social_media_1{
position: absolute;	
flex-direction: column;
padding: 10px;	
display: flex;
justify-content:space-around;
font-size: 30px;
width:30px;
height: 250px;
margin-top: 150px;
margin-left: 1400px;
}


#tit{
	margin-top: 150px;
}
/***********************************************Seccion de PAsabocas *********************************/
.pasabocas_new{
	margin: auto;
	width: 80%;
  height: auto;
	padding: 40px 10px;
	border-bottom: 2px solid hotpink;
	border-top: 2px solid hotpink;  
	box-sizing: border-box;
}



.wraper_pasabocas>div{
	
}
.wraper_text_pasabocas,.texto_descripcion_psabocas,.pasabocas_new,.title_pasabocas,#texto_primario,.photo_pasabocas{
	
}


#texto_primario{
	padding: 10% 5%;
	font-size: 5rem;
	text-align: center;
 color: hotpink;
 border: 5px dotted #817E7E;
}
.texto_descripcion_psabocas{
	
	line-height: 1.5;
	color: #817E7E;
  font-family: 'Kanit';
 font-weight: bolder;
 font-size: 1.2rem;
 padding: 10px 5px ;
 flex-basis: 20%;
 border: 2px solid hotpink;
 transition:  transform 0.5s;
 text-align: center;
}
:hover.texto_descripcion_psabocas{
  cursor: pointer;
	transform: scale(1.1);
	}
.wraper_text_pasabocas{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 40px 5px;
}

.wraper_pasabocas{

align-items: center;
justify-items: space-around;
display: flex;
flex-direction: column;
padding: 10px 5px;	
width: 50%;
height: auto;
/*border: 2px solid red ;*/
margin: auto;

}
.photo_pasabocas1{
	position: relative;
	padding: 10px 5px;
  width: 450px;
  height: 200px;
	background: url(img/pipe.png);
  background-color: #F5FB9B;
	background-position: center;
	background-blend-mode: darken;
	background-size: cover;

}

.photo_pasabocas2{
	position: relative;
	padding: 10px 5px;
width: 450px;
height: 200px;
	background: url(img/empi2.png);
	background-color: #87CEEB;
	background-position: center;
	background-blend-mode: overlay;
	background-size: cover;
}
.photo_pasabocas3{
	position: relative;
	padding: 10px 5px;
width: 450px;
height: 200px;
background: url(img/pasasd.png);
background-color: #F691D1;
background-position: center;
background-blend-mode: darken;
background-size: cover;
}
.title_pasabocas{
position: absolute;	
 margin-top: -470px;
 align-items: center;
 width: 60%;
 margin-left: 10%;
 margin-bottom: 100%;
 /*background-color: rgba(255, 105, 180, 0.8);*/
 font-family: 'Kanit';	
}

.icon_pasabocas{
	padding: 30px 0;
	display: flex;
	justify-content: space-around;
	font-size: 40px;
	/*border: 1px solid black;*/
	color: hotpink;
	cursor: pointer;
}

/******************************* Seccion Por que elegirnos? ***********************************************/
  
.porque_elegirnos{
	/*border: 1ps solid black;*/
	padding-top: 100px;
}

 .wrapper_grid{
 	display: grid;
 	grid-template-columns: auto auto auto;
 	grid-template-rows: 200px 200px 200px;
 	width: 90%;
 	padding-top: 50px;
 	padding-bottom: 100px;
 	margin: auto;
 	/*border: 1px solid black;*/
  }
 

 .wrapper_grid > div{
  padding: 10px 5px;
 	/*border: 1px solid black;*/
 	width: 400px;
  padding: 40px 10px;  	

 }

/* .space2{
 grid-row-start:1;
 grid-row-end:4;
 }*/

.space2{
grid-row-end: span 3;
background: url(img/sirenita.png);
background-repeat: no-repeat;
background-position: center;
 
 }


.content_lateral1{
/*	border: 1px solid black;*/
	text-align: center;
}

.content_lateral2{
/*	border: 1px solid black;*/
}

.titulo_principal{
padding: 5px 5px;	
/*border: 1px solid black;*/
display: inline-block;
text-align: center;	
font-size: 20px;
color: #817E7E;
font-family: 'Kanit';
font-weight: bolder;
} 

.detalle_descripcion{
	/*border: 1px solid black;*/
	max-width: 250px;
	padding: 10px 5px;

}
 .content_lateral2{
 	display: inline-block;

 }

 .content_lateral1{
 	display: inline-block;

 }

 .space2{

 }

 .content_lateral2{
 	color: hotpink;
  font-size: 60px; 
  margin-left: 20px;
 }

 
#title_grid{
	text-align: center;
  font-size: 40px;
	color: hotpink;
	font-family: 'Kanit';
}

 

/*************************************************Catalogo pasteles de Boda*****************************/
.wedding_catalog{
display: flex;
flex-flow: row nowrap;
justify-content: space-between; 
justify-content: center; 	 
border-top: 2px solid hotpink;
border-bottom: 2px solid hotpink;
width: 80%;
margin: auto;

}

.photo_bride,.square{
  width: 250px;
  height: 400px;
  border-radius: 12px;	
}

.photo_bride{
	position: relative;
	margin-top: 40%;
	background: url(img/wedding2.jpg);
	background-position: center;
	background-size: cover;
}
.square{
position: absolute;	
background-color: #FFA69E;
margin-left: 100px;
margin-top: -500px;
z-index: -10;
}

.cobertura{
	width: 600px;
	 
}
.wedding_catalog p{
	
  font-family:'Roboto Slab';
  max-width: 400px;
  line-height: 1.6;
  color: #817E7E;
  font-weight: bolder; 
}


.wraper_texto{
 
padding: 200px 20px;
}

.wraper_imagen{
	padding:60px 20px;
	
}

#boton_bride{
  position: absolute;
	font-size: 20px;
	margin-top: 35%;
	margin-left: 780px;
	font-family:'Roboto Slab';
	background-color: #FFA69E;
	padding: 5px 5px;
	border-radius: 32px;
	width: 200px;
	cursor: pointer;
}

#detalle_texto{
	font-size: 30px;
	color: hotpink;
  font-family: 'Kanit' , sans-serif;
 line-height: 1; 
}

/******************************************Clasicos de la Pasteleria **************************************/
.clasicos_pasteleria{
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
align-items: center;	
width: 80%;
margin: auto;;
/*border:  1px solid black;*/

}
.container_photo_clasico{
border-radius: 12px;	
width: 250px;
height: 250px;
background: url(img/red_velvet.jpg);
background-position: center;
background-size: cover;
animation-name: cambio_bg;
animation-duration: 10s;
animation-iteration-count: infinite ;
animation-direction: alternate;
}

@-webkit-keyframes cambio_bg {

0%{ background: url(img/lemo_pie.jpg);
	background-position: center;
	background-size: cover;
}

30%{ background: url(img/lemo_pie.jpg);
	background-position: center;
	background-size: cover;
}
50%{ 
  background: url(img/pinky.png);
	background-position: center;
	background-size: cover;
 }

80%{ 
	background: url(img/mn.png);
	background-position: center;
	background-size: cover;
	 }
100%{
   background: url(img/blanca.png);
	background-position: center;
	background-size: cover;

 }

}

#imagen_day{
  position: absolute;
  margin-left: 80px;
  margin-top: 20px;
  
}

.container_blobs{
  margin-top: 100px;
  
  padding: 100px -10px;
}

.container_texto_clasico{
	max-width: 300px;
	line-height: 1.6;
  font-family:'Roboto Slab';
  color: #817E7E;	
  font-weight: bolder;
}
.container_texto_clasico a {
	text-decoration: none;
	color: #817E7E;
	list-style: none;
}
.container_texto_clasico a:hover{
	color: red;
}

#texto_clasico{
	font-size: 25px;
	padding: 10px 5px;
	text-align: center;
	/*border:1px solid black;*/
	font-family: 'Kanit' , sans-serif;
	color: hotpink;
}
#texto_clasico1{
padding: 25px 10px 0 10px;		
}
